USE [master]
GO
/****** Object:  Database [Movies2]    Script Date: 29/04/2025 01:30:14 م ******/
CREATE DATABASE [Movies2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Movies2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Movies2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Movies2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Movies2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Movies2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Movies2]
GO
/****** Object:  Table [dbo].[users2]    Script Date: 29/04/2025 01:30:15 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users2](
	[first_name] [varchar](20) NOT NULL,
	[last_name] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[password] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
